.attendance-table {
  
}

.attendance-table__inner {
  margin: 0 auto;
  padding: 20px 15px;
  width: 100%;
}
.attendance-table__row {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}
.attendance-table__header {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}
.attendance-table__item{
  padding: 10px;
  border: solid 1px #778ca3;
}

  footer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    bottom:0;
    font-weight: bold;
 }

