  .todo__content {
    margin: 0 auto;
   padding: 30px 15px;
    max-width: 1230px;
  }

 .section__title {
   margin: 0 auto;
   width: 70%;
 }

 .create-form__item, .search-form__item {
   display: flex;
    width: 70%;
  }


 .create-form__item-input, .search-form__item-input {
   margin-right: 10px;
    padding: 10px;

   width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

 .create-form__item-select, .search-form__item-select {
   padding: 10px;
   width: 30%;
   height: 40px;
   border: 1px solid #ddd;
   border-radius: 3px;
   appearance: none;
 }




 .create-form__button-submit, .search-form__button-submit {
    padding: 10px;
    width: 500px;
    height:180px;
    border: none;
    border-radius: 3px;
    background: #ffffff;
    color: #d5d5d5;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
  }

  .update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .update-form__item {

   width: 40%;
    line-height: 50%;
  }

  .update-form__item-input {
    border: none;
  }

 .update-form__item-p {
     text-align: left;
     font-size: 13px;
 }

  .update-form__button {
    width: 50px;
  }

  .update-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
  }
  .work{
    display: flex;
    justify-content: space-between;
    margin:70px;
    margin-bottom: -30px;

  }
  .break{
    display: flex;
    justify-content: space-between;
    margin:70px;
  }

 
  main{
    background-color: rgb(255, 238, 252);
  }
  footer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    bottom:0;
    font-weight: bold;
 }